<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rewrite to HTTPS
    RewriteCond %{ENV:HTTPS} !=on
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.html [L]
</IfModule>
